<div class="row">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg width="800" height="400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 400" preserveAspectRatio="none">
          <defs>
            <style type="text/css">
              #holder_165b232526b text {
                fill: #555;
                font-weight: normal;
                font-family: Helvetica, monospace;
                font-size: 40pt
              }
            </style>
          </defs>
          <g id="holder_165b232526b">
            <rect width="800" height="400" fill="#777"></rect>
            <g><text x="285.921875" y="217.7">First slide</text></g>
          </g>
        </svg>
      </div>
      <div class="carousel-item">
        <svg width="800" height="400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 400" preserveAspectRatio="none">
          <defs>
            <style type="text/css">
              #holder_165b2325267 text {
                fill: #444;
                font-weight: normal;
                font-family: Helvetica, monospace;
                font-size: 40pt
              }
            </style>
          </defs>
          <g id="holder_165b2325267">
            <rect width="800" height="400" fill="#666"></rect>
            <g><text x="247.3203125" y="217.7">Second slide</text></g>
          </g>
        </svg>
      </div>
      <div class="carousel-item">
        <svg width="800" height="400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 400" preserveAspectRatio="none">
          <defs>
            <style type="text/css">
              #holder_165b232526d text {
                fill: #333;
                font-weight: normal;
                font-family: Helvetica, monospace;
                font-size: 40pt
              }
            </style>
          </defs>
          <g id="holder_165b232526d">
            <rect width="800" height="400" fill="#555"></rect>
            <g><text x="277" y="217.7">Third slide</text></g>
          </g>
        </svg>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>